<!DOCTYPE html>
<html>
  <head>
    <title>Text Me App</title>
  </head>

  <body>
    <div>Telephone:
      <input type="tel" name="usrtel">
    </div>
    
    <br>
    <div id="textarea" contenteditable>Enter Message Here.</div>
    
    <br>
    <form action="index.html" method="post">  
      <button name="mysubmitbutton" id="mysubmitbutton" type="submit" class="customButton">  
      Send
      </button>  
    </form> 
  </body>
</html>